/*All style for topbar*/

.topbar--container {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbar--left {
  flex: 3;
}

.topbar--center {
  flex: 5;
}

.topbar--right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbar--icons {
  display: flex;
}

.topbar--iconitem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbar--iconbadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbar--image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topbar--logo {
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbar--searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.topbar--searchicon {
  font-size: 20px !important;
  margin-left: 10px;
}

.topbar--searchinput {
  border: none;
  width: 70%;
}

.topbar--searchinput:focus {
  outline: none;
}

.topbar--linkshome {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
